@page "/dc_navigation"

<h3>Поиск и добавление информации</h3>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="site_navigation">
        <span class="oi oi-plus" aria-hidden="true"></span> Площадки 
    </NavLink>
    <NavLink class="nav-link" href="room_navigation">
        <span class="oi oi-plus" aria-hidden="true"></span> Помещения 
    </NavLink>
    <NavLink class="nav-link" href="row_navigation">
        <span class="oi oi-plus" aria-hidden="true"></span> Ряды 
    </NavLink>
    <NavLink class="nav-link" href="entitymodel_navigation">
        <span class="oi oi-plus" aria-hidden="true"></span> Сущности 
    </NavLink>
    <NavLink class="nav-link" href="filedata_navigation">
        <span class="oi oi-plus" aria-hidden="true"></span> Загруженные файлы 
    </NavLink>
        <NavLink class="nav-link" href="detailtable_navigation">
        <span class="oi oi-plus" aria-hidden="true"></span> Таблицы деталей 
    </NavLink>
</div>

@code {

}
