@page "/dcmain"

<h3>Инвентаризация ЦОДов АСБИ</h3>

<PageTitle>Инвентаризация ЦОДов АСБИ</PageTitle>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="dc_navigation">
        <span class="oi oi-plus" aria-hidden="true"></span> Навигация
    </NavLink>
    <NavLink class="nav-link" href="dc_upload">
        <span class="oi oi-plus" aria-hidden="true"></span> Загрузка документов
    </NavLink>
    <NavLink class="nav-link" href="dc_download">
        <span class="oi oi-plus" aria-hidden="true"></span> Генерация и выгрузка документов
    </NavLink>
    <NavLink class="nav-link" href="dc_distribution">
        <span class="oi oi-plus" aria-hidden="true"></span> Распределение новых деталей
    </NavLink>
</div>

@code {

}
