@page "/dcmain"

<h3>Инвентаризация ЦОДов АСБИ</h3>

<PageTitle>Инвентаризация ЦОДов АСБИ</PageTitle>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="dc_navigation">
        <span class="oi oi-plus" aria-hidden="true"></span> Навигация
    </NavLink>
</div>

@code {

}
