@page "/room_navigation"
@using TspuWebPortal.Data
@inject SiteDataService objDataService

<h3>Добавление и Редактирование Помещений</h3>

@if (DcRoomList == null)
{
    <p><em>Список загружается...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID помещения</th>
                <th>Название помещения</th>
                <th>Координаты</th>
                <th>Название ЦОДа</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (RoomData CurrentDcRoom in DcRoomList)
            { 
                    <tr>
                    <td>@CurrentDcRoom.RoomId</td>
                    <td>@CurrentDcRoom.RoomName</td>
                    <td>@CurrentDcRoom.RoomCoordinates</td>
                    <td>@CurrentDcRoom.DataCenter?.DataCenterName</td>
                    <td><a href=@($"/room_navigation/{CurrentDcRoom?.RoomId}")>Редактировать</a></td>
                    </tr>
            }
               
        </tbody>
    </table>    
}

@code 
{
    List<DcData> DcSiteList = new List<DcData>();
    List<RoomData> DcRoomList = new List<RoomData>();
    protected override async Task OnInitializedAsync()
    {
        DcSiteList = await Task.Run(() => objDataService.ListAllDcSites());
        DcRoomList = await Task.Run(() => objDataService.ListAllDcRooms());
    } 

}
