@page "/detailtable_navigation/{ID:int}"
@inject SiteDataService objDataService
@using TspuWebPortal.Model
@using TspuWebPortal.ORM
@using TspuWebPortal.Shared
@inherits OwningComponentBase<SiteDataService>

<h3>Площадка @ChosenDetailTable.InitialDetailTableId. Редактирование таблицы деталей.</h3>



<EditForm Model=@ChosenDetailTable OnSubmit=@FormSubmitted>
  <div class="row">
    <div class = "col-4">
        <label for="RoomCoordinates">Название файла</label>
        <InputSelect id="DataCenter" @bind-Value="ChosenDetailTable.FileId" class="form-control">
            <option value=null>Надо выбрать</option>                                                                 
            @foreach (var item in DcFileList)                                   //здесь надо добавить проверку, что не выбрана подсказка
            {
                <option value="@item.FileId">@item.FileName</option>
            }
        </InputSelect>
    </div>
    <div class = "col-4">
        <a>Дата привязки: @ChosenDetailTable.RegisterDate</a>
    </div>
  </div>
  <br>
<input type="submit" class="btn btn-primary" value="Сохранить"/>
</EditForm>



@code {
    [Parameter]
    public int ID { get; set; }

    InitialDetailTableData ChosenDetailTable = new InitialDetailTableData ();
    List<FileData> DcFileList = new List<FileData>();
    FileData UpdatedFile = new FileData();

    protected override async Task OnInitializedAsync()
    {
        DcFileList = await Task.Run(() => objDataService.ListFilesOfSpecificCategory());
        ChosenDetailTable = await Task.Run(() => objDataService.GetDetailTableDataInfoById(Convert.ToInt32(ID)));
    }


    //public int DcId { get => _DcId;  set { _DcId = value; DcRoomPartialList = objDataService.ListRoomsOnSpecificDataCenter(value); } }


    void FormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        if (formIsValid)
        {
            objDataService.UpdateDetailTableInfo(ChosenDetailTable);
            //if (ChosenDetailTable.FileId != null)
            //UpdatedFile = objDataService.GetFileDataInfoById(ChosenDetailTable.FileId);
            //UpdatedFile.
        }
    }
        

        //1. Для записи файла установить в true переменную IsApplied...
        //2. Для записи таблицы вместе с добавлением переменной файла добавить дату регистрации.
        //3. Добавить публикацию имени/пути файла.

        //FileInfoAppendedToDetailTable

        //UpdateEntityModelInfo

    }