
@page "/entitymodel_navigation/{ID:int}"
@inject SiteDataService objDataService
@inject DcEntityService objEntityService
@using TspuWebPortal.Model
@using TspuWebPortal.ORM
@using TspuWebPortal.Shared
@inherits OwningComponentBase<SiteDataService>

<h3>Сущность @ChosenEntityModel.EntityModelId. Редактирование данных сущности.</h3>



<EditForm Model=@ChosenEntityModel OnSubmit=@FormSubmitted>
  <div class="row">
    <div class = "col-2">
        <label for="EntityModelVendor">Вендор</label>
        <InputText @bind-Value=ChosenEntityModel.Manufacturer class="form-control" id="Vendor"  Size="20" />
    </div>
    <div class = "col-2">
        <label for="EntityModelModelType">Тип</label>
        <InputText @bind-Value=ChosenEntityModel.ModelType class="form-control" id="ModelType" />
    </div>
    <div class = "col-4">
        <label for="EntityModelModelName">Модель</label>
        <InputText @bind-Value=ChosenEntityModel.ModelName class="form-control" id="ModelName" />
    </div>
    <div class = "col-2">
        <label for="EntityModelPartNumber">P/N</label>
        <InputText @bind-Value=ChosenEntityModel.PartNumber class="form-control" id="PartNumber" />
    </div>
    <div class = "col-2">
        <label for="EntityModelNominalPower">Номинальная мощность</label>
        <InputNumber @bind-Value=ChosenEntityModel.NominalPower class="form-control" id="NominalPower" />
    </div>
    <div class = "col-2">
        <label for="EntityModelMaximalPower">Максимальная мощность</label>
        <InputNumber @bind-Value=ChosenEntityModel.MaximalPower class="form-control" id="MaximalPower" />
    </div>
  </div>
  <br>
<input type="submit" class="btn btn-primary" value="Сохранить"/>
</EditForm>



@code {
        [Parameter]
        public int ID { get; set; }

        EntityModelData ChosenEntityModel = new EntityModelData ();
//        List<DcData> DcSiteList = new List<DcData>();
        protected override async Task OnInitializedAsync()
        {
//            DcSiteList = await Task.Run(() => objDataService.ListAllDcSites());
            ChosenEntityModel = await Task.Run(() => objEntityService.GetEntityModelInfoById(Convert.ToInt32(ID)));
        }

        void FormSubmitted(EditContext editContext)
        {
            bool formIsValid = editContext.Validate();
            if (formIsValid) objEntityService.UpdateEntityModelInfo(ChosenEntityModel);
        }        
    }
